
/client/node_modules/
/client/.vscode/
/client/*.map
/client/.DS_Store
/client/.sourcemaps
/client/dist/
/client/.vite/


/server/*.wav
/server/*.jar
/server/target/
/server/**/src/main/target/
/server/**/src/test/target/
/server/.mvn/
/server/.mvn/wrapper/maven-wrapper.jar
**/target/
**/.mvn/

### IntelliJ IDEA ###
/server/.idea/
/server/.idea/modules.xml
/server/.idea/jarRepositories.xml
/server/.idea/compiler.xml
/server/.idea/libraries/
/server/*.iws
/server/*.iml
/server/*.ipr

### Eclipse ###
./server/.apt_generated
./server/.classpath
./server/.factorypath
./server/.project
./server/.settings
./server/.springBeans
./server/.sts4-cache


