* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --primary: #000000;
  --background: #000000;
  --secondary: #000000;
  --tertiary: #000000;
}

nav{
  height: 3.5rem;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  font-size: 1.2rem;  
}

#nav-container{
  width: 100%;
  height: 100%;
  position: relative;
}

#sidebar-toggle {
  top: 1rem;
  padding: 5px;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  left: 0.5rem;
  z-index: 99;
  transition: left .2s;
}

#sides-container{
  width: 100%;
  height: 100%;
  position: relative;
}

#side-icon-1{
  position: absolute;
  width: 100%;
  height: 0.2rem;
  background-color: #000000;
  border-radius: 10px;
  top: 15%;
  transform: rotate(40deg);
  
  
}

#side-icon-2{
  position: absolute;
  width: 100%;
  height: 0.2rem;
  background-color: #000000;
  border-radius: 10px;
  bottom: 15%;
  transform: rotate(-40deg);
 
}

main{
  position: relative;
  z-index: 1;
}

.closed-sidebar{
  width: 50vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-50vw);
  transition: all .2s;
  
}

.open-sidebar{
  width: 50vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  transform: translateX(0);
  transition: all .2s;
  background-color: beige;
}

#sidebar-container{
  width: 100%;
  height: 100%;
  ul {
    list-style: none;
    position: relative;
    padding: 2rem;
    top: 3rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1.5rem;
  }
}

span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

main{
  height: 100vh;
}

#main-page{
  height: 100%;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: none;
  font-size: 3rem;
}


